@media screen and (max-width: 1800px)
  .eleccion
    width: 50% !important
@media screen and (max-width: 1400px)
  .eleccion
    width: 60% !important
@media screen and (max-width: 1000px)
  .eleccion
    width: 70% !important
@media screen and (max-width: 800px)
  .eleccion
    width: 80% !important
    #gameChan
      button:hover
        background: $color1 !important