* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/bgLight.jpg");
}
body .eleccion {
  width: 40%;
  height: auto;
  backdrop-filter: blur(10px);
  background: rgba(126, 126, 126, 0.392);
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin: 1rem auto;
}
body .eleccion h2 {
  font-family: sans-serif;
  margin: 3rem auto;
  color: #DA0037;
}
body .eleccion #opcionesTemas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .eleccion #opcionesTemas input {
  padding: 0 0 0 0.5rem;
  width: 20rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: none;
  margin-bottom: 1.5rem;
}
body .eleccion #opcionesTemas input:focus {
  outline: 2px solid #DA0037;
}
body .eleccion #opcionesTemas .btn {
  border: none;
  border-radius: 1rem;
  width: 70%;
  height: 2.5rem;
  margin-bottom: 1.5rem;
}
body .eleccion #opcionesTemas .btn:hover {
  cursor: pointer;
  background: #DA0037;
  color: #EDEDED;
}
body .eleccion #gameChan {
  margin: auto 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .eleccion #gameChan #pregunta {
  width: 70%;
  text-align: center;
  margin: 2rem 0 5rem 0;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #DA0037;
}
body .eleccion #gameChan #opciones {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .eleccion #gameChan button {
  width: 90%;
  height: 4rem;
  margin-bottom: 2rem;
  font-family: sans-serif;
  border: none;
  border-radius: 1rem;
  background: #444444;
  color: #EDEDED;
}
body .eleccion #gameChan button:hover {
  cursor: pointer;
  background: #DA0037;
}
body .eleccion .gosth {
  display: none !important;
}
body .btnReload {
  width: 20% !important;
  height: 4rem;
  border-radius: 1rem;
  font-family: sans-serif;
  color: #EDEDED;
  background: #DA0037;
  border: none;
  cursor: pointer;
  display: block;
  margin: -3rem auto 2rem auto;
  position: relative;
}

@media screen and (max-width: 1800px) {
  .eleccion {
    width: 60% !important;
  }
  .btnReload {
    width: 40% !important;
  }
}
@media screen and (max-width: 1400px) {
  .eleccion {
    width: 70% !important;
  }
  .btnReload {
    width: 50% !important;
  }
  .darkModeContainer {
    left: 18% !important;
  }
}
@media screen and (max-width: 1000px) {
  .eleccion {
    width: 80% !important;
  }
  .btnReload {
    width: 60% !important;
  }
  .darkModeContainer {
    left: 10% !important;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 800px) {
  .eleccion {
    margin-top: 5.5rem !important;
    width: 95% !important;
  }
  .eleccion #gameChan button:hover {
    background: #444444 !important;
  }
  .btnReload {
    width: 70% !important;
  }
  .darkModeContainer {
    top: 1% !important;
    left: 35% !important;
    transform: rotate(180deg);
  }
}
.darkMode {
  background: url(../img/bgDark.jpg);
}
.darkMode .eleccion {
  background: rgba(126, 126, 126, 0.1);
}
.darkMode .bi-sun-fill {
  display: none;
}
.darkMode .darkModeContainer {
  background: #CFD2CF;
}
.darkMode .darkModeContainer .switch {
  background: #EDEDED;
  margin: 0.5rem 0 0.5rem 3.5rem;
}

.darkModeContainer {
  width: 7rem;
  height: 4rem;
  background: #444444;
  position: absolute;
  top: 5%;
  left: 21%;
  border-radius: 2rem;
}
.darkModeContainer .switch {
  cursor: pointer;
  background: #DA0037;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0.5rem;
}/*# sourceMappingURL=styles.css.map */